// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

//my custom styles
.my-bg {
    // background-color: #6a11cb;
    background: linear-gradient(to left,
            rgba(106, 17, 203, 1),
            rgba(37, 117, 252, 1));
}

a {
    text-decoration: none;
}

.hero {
    // background-image: url('../public/img/thedesk.jpg');
    height: 100vh;
    // width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

// .table-transparent thead th,
// .table-transparent tbody th,
// .table-transparent tbody td {
//   // background-color: transparent;
//   background-color: rgba(0, 0, 0, 0.1);
//   vertical-align: middle;
// }

.my-table thead th,
.my-table tbody th,
.my-table tbody td {
    vertical-align: middle;
}

.btn {
    &.add {
        &::after {
            content: "\2295";
            font-size: 1.5em;
            line-height: 1;
        }
    }

    &.minus {
        &::after {
            content: "\2296";
            font-size: 1.5em;
            line-height: 1;
        }
    }

    &.edit {
        &::after {
            content: "\00270E";
            font-size: 1.5em;
            line-height: 1;
        }
    }

    &.delete {
        &::after {
            content: "\002717";
            font-size: 1.5em;
            line-height: 1;
        }
    }
}

// error 404
.my-bg-text {
    // background: linear-gradient(to right, #FFC371, #FF5F6D);
    background: linear-gradient(to right,
            rgba(124, 35, 221, 1),
            rgba(43, 123, 252, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-xl {
    font-size: 5rem;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.small-image {
    max-width: auto;
    max-height: 50px;
}
